body {
  background: url('http://www.wallcoo.net/cartoon/Scrapbook_Art_Paper_Summer_Fun/wallpapers/1920x1200/lliella_funinthesun_paper1.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h2{
  font-size: 30pt;
  padding: 5px;
}
img{
	height: 120px;
	width: 120px;
  padding: 40px 20px 10px 20px;
}
.container{
  margin: 5%;
}
.all{
  background-color: white;
  text-align: center;
  border: black 2px solid;
}
#uneaten{
  float: left;
  margin-right: 10%;
  margin-left: 5%;
}
#add{
  float: left;
  padding: 10px;
  margin-right: 10%;
}
#eaten{
  float: left;
}
